html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.container {
    min-width: 1320px !important;
}
.col {
    padding-right: 0px;
    padding-left: 0px;
}
.navbar {
    height: 30px;
    background: none !important;
}
.navbar a img {
    margin-top: -10px;
    margin-left: 20px;
    height: 40%;
    width: 40%;
}
.topnav {
    margin-top: -20px;
    margin-right: 50px;
}
.topnav a {
    padding-left: 10px;
    font-size: 25px;
    color: white;
    font-family: 'Alfa Slab One', cursive;
}
.topnav a:hover {
    color: rgb(245, 76, 76);
}
.imagetop {
    /* height: 400px; */
    /* position: relative; */
    text-align: center;
}
.imagetop img {
    margin-top: -30px;
    max-width: 100%;
    /* max-height: 300px !important; */
    height: 100%;
    width: 100%;
}
.imagetop h1 {
    position: absolute;
    top: 200px;
    text-align: center;
    margin-left: 450px;
    margin-top: 100px;
    color: white;
    font-size: 100px;
    font-family: 'Alfa Slab One', cursive;
}
.imagetop h1:hover {
    text-shadow: 2px 2px 50px rgb(46, 167, 189);
}
.myrow1 {
    height: 350px;
}
.mycol1 {
    margin-top: 20px;
}
.mycol1 h6 {
    text-align: left;
    font-size: 30px;
    font-family: 'Alfa Slab One', cursive;
}
.mycol1 p {
    font-size: 18px;
    text-align: center;
    font-family: 'Handlee', cursive;
}
.mycol2 img {
    margin-left: 70px;
}
.stone {
    height: auto;
    width: 1300px !important;
    padding-left: -50px;
    max-height: 100%;
    max-width: 100%;
}
.myrow2 {
    height: 200px;
}
.menu img {
    max-width: 100%;
    max-height: 250px;
}